<!--
    File: cart.html
    Author: Vlad, Blake, Tilak
    Description: Cart page of the website.
-->

<include href="views/header.html"></include>

<body class="cartbody d-flex flex-column align-items-center index">
<header class="container-fluid">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">CTRLFreaks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex justify-content-between w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                        </ul>
                        <div class="order-cart-container d-flex flex-row float-right align-items-center">
                            <div class="order-button d-flex align-items-center justify-content-center">
                                <a class="nav-link" href="menu">Order</a>
                            </div>
                            <a href="user"><img src="images/iconmonstr-user-19-240.png" alt="user icon"></a>
                            <a href="cart"><img src="images/iconmonstr-shopping-cart-22-240.png" alt="cart icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>


<main role="main" class="container d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid main-cart-container d-flex justify-content-center row align-items-center justify-content-center p-5">
        <div class="cart-details-container d-flex flex-column col-md-6">
            <h1>Review Order</h1>
            <repeat group="{{ @cartItems }}" value="{{ @item }}">
                <h3>{{ @item.title }}</h3>

            </repeat>
        </div>
        <div class="checkout-container d-flex flex-column col-md-6 justify-content-around">
            <div class="order-location d-flex flex-column">
                <p>ORDER FROM:</p>
                <p>CTRL Freaks - Seattle</p>
                <p>8281 Ave Lane Seattle, WA 48142</p>
            </div>
            <div class="discount-container d-flex row justify-content-between">
                <div class="col-md-6">
                    <p>DISCOUNT CODE:</p>
                </div>

                <div class="discount-input-container col-md-6 d-flex flex-column">
                    <input type="text" id="discount" name="discount" placeholder="Enter discount code...">
                    <button type="submit" class="discount-submit-button">Add Code</button>
                </div>
            </div>
            <div class="total-cost-container d-flex flex-row w-100 justify-content-between">
                <div class="cost-titles d-flex flex-column">
                    <p>Subtotal:</p>
                    <p>Tax and Fees:</p>
                    <h5>TOTAL:</h5>
                </div>
                <div class="cost-prices d-flex flex-column">
                    <p>${{ @subtotal }}</p>
                    <p>${{ @tax }}</p>
                    <p>${{ @total }}</p>
                </div>
            </div>
            <div class="check-out-button d-flex flex-column">
                <button type="submit" class="checkout-submit-button">CHECKOUT</button>
                <p>Your data and information is protected by very real and secure methods such as making the page elements not visible</p>
            </div>
        </div>
    </div>
</main>

<script src="script/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>