<!--
    File: contact-summary.html
    Author: Vlad, Blake, Tilak
    Description: contact summary page for the CTRLFreaks webpage
-->


<include href="views/header.html"></include>

<body class="container-fluid d-flex flex-column align-items-center p-0 index">

<!--Header-->
<header class="container-fluid">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">CTRLFreaks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex justify-content-between w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="menu">Menu</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                        </ul>

                        <div class="order-cart-container d-flex flex-row float-right align-items-center">
                            <div class="order-button d-flex align-items-center justify-content-center">
                                <a class="nav-link" href="menu">Order</a>
                            </div>
                            <a href="admin"><img src="images/iconmonstr-user-19-240.png" alt="user icon"></a>
                            <a href="cart"><img src="images/iconmonstr-shopping-cart-22-240.png" alt="cart icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--main hero-->
<main role="main" class="container d-flex flex-column align-items-center justify-content-center text-center ">
    <h1>Thanks for contacting us!</h1>
    <h3>We'll reach to you with a response as soon as possible to this email: {{@SESSION.email}}</h3>
    <br>
    <h4>Your information</h4>
    <div class="d-flex flex-column contact-summary-user-info">
        <div class="d-flex flex-row justify-content-between">
            <p>First-name:</p>
            <p>{{@SESSION.firstName}}</p>
        </div>

        <div class="d-flex flex-row justify-content-between">
            <p>Last-name:</p>
            <p> {{@SESSION.lastName}}</p>
        </div>

        <div class="d-flex flex-row justify-content-between">
            <p>Phone:</p>
            <p>{{@SESSION.phone}}</p>
        </div>

        <div class="d-flex flex-column justify-content-between comment">
            <p>Comment:</p>
            <p>{{@SESSION.comment}}</p>
        </div>
    </div>
    <check if="{{ isset(@errors['email']) }}">
        <span class="err text-danger">{{ @errors['email'] }}</span>
    </check>
</main>

<!--Footer of the page-->

<include href="views/footer.html"></include>

<script src="script/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

