<!--
    File: contact.html
    Author: Blake, Vlad, Tilak
    Description: Contact page
-->

<include href="views/header.html"></include>

<body class="container-fluid d-flex flex-column align-items-center p-0 index">

<!--Header-->
<header class="container-fluid">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">CTRLFreaks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex justify-content-between w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link "  href="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contact">Contact</a>
                            </li>
                        </ul>

                        <div class="order-cart-container d-flex flex-row float-right align-items-center">
                            <div class="order-button d-flex align-items-center justify-content-center">
                                <a class="nav-link" href="menu">Order</a>
                            </div>
                            <a href="user"><img src="images/iconmonstr-user-19-240.png" alt="user icon"></a>
                            <a href="{{ @BASE }}/cart" class="cart-icon-container nav-link">
                                <img src="images/iconmonstr-shopping-cart-22-240.png" alt="cart icon" class="cart-icon">
                                <span class="cart-item-count badge badge-pill badge-warning">Items: {{ @cartCount }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--main here-->
<main role="main" class="container d-flex flex-column align-items-center justify-content-center">
    <div class="main-contact-container text-center d-flex flex-column">
        <h3>Contact</h3>

        <!-- Directions -->
        <p>Please feel free to fill out this form and we will contact you shortly</p>

        <!-- Collect Information about customer-->
        <h4>Contact Information</h4>

        <form action="contact-summary" method="post" class="form-horizontal">

            <!-- get first name -->
            <div class="form-group d-flex flex-column align-items-center justify-content-center">
                <label for="firstName" class="col-4 control-label">First Name</label>
                <div class="contact-input-size"><input class="form-control" type="text"
                                                       name="firstName" id="firstName" ></div>
            </div>
            <br>

            <!-- get last name -->
            <div class="form-group">
                <label for="lastName" class="col-4 control-label">Last Name</label>
                <div class="contact-input-size"><input class="form-control" type="text"
                                                       name="lastName" id="lastName" ></div>
            </div>
            <br>

            <!-- get email -->
            <div class="form-group">
                <label for="email" class="col-4 control-label">Email</label>
                <div class="contact-input-size"><input class="form-control" type="text"
                                                       name="email" id="email" ></div>
            </div>
            <br>

            <!-- get phone number -->
            <div class="form-group">
                <label for="phoneNumber" class="col-4 control-label">Phone</label>
                <div class="contact-input-size"><input class="form-control" type="text"
                                                       name="phoneNumber" id="phoneNumber" ></div>
            </div>
            <br>

            <h3>Tell us about your experience</h3>

            <!-- get comment -->
            <div class="form-group">
                <label for="comment" class="col-4 control-label">Comment</label>
                <div class="contact-input-size"><input class="form-control" type="text"
                                                       name="comment" id="comment" ></div>
            </div>
            <br>

            <!-- submit button -->
            <div class = "row">
                <div class = "col-12">
                    <nav>
                        <button type="submit" class="contact-submit-button">Submit</button>
                    </nav>
                </div>
            </div>
        </form>
    </div>
</main>

<include href="views/footer.html"></include>

<script src="script/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>