<!--Footer of the page-->

<footer class="container-fluid">
    <div class="container footer-container d-flex flex-column flex-md-row justify-content-between align-items-center p-2">
        <div class="socials d-flex flex-row">
            <div class="socials-row d-flex flex-row">
                <div>CTRLFreaks</div>
                <img src="images/iconmonstr-facebook-messenger-3-240.png">
                <img src="images/iconmonstr-gmail-3-240.png">
                <img src="images/iconmonstr-instagram-13-240.png">
                <img src="images/iconmonstr-snapchat-3-240.png">
            </div>
        </div>

        <div class="offers-deals">
            <p>Offers and Special Deals Notifications</p>
            <form class="offers-form" method="POST" action="offers">
                <input type="text" name="email" id="email" placeholder="Email">
                <button type="submit" class="offers-subscribe-button">Subscribe</button>
            </form>
            <check if="{{ isset(@errors['email']) }}">
                <span class="err text-danger">{{ @errors['email'] }}</span>
            </check>
        </div>

    </div>
</footer>