<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<h1>MENU</h1>

<!-- Order down left side -->
<h2>Entrees</h2>
<h3>Chicken</h3>
<p>Cage free and fried to perfection.</p>
<p>$5</p>

<h3>Burger</h3>
<p>Juicy sirloin with deluxe toppings.</p>
<p>$10</p>

<h3>Pizza</h3>
<p>Enough cheese to make a cow blush.</p>
<p>$15</p>

<!-- Order down middle -->
<h2>Sides</h2>
<h3>Fries</h3>
<p>Salty and come with ketchup.</p>
<p>$3</p>

<h3>Salad</h3>
<p>Healthy and come with ranch.</p>
<p>$6</p>

<h3>Onion Rings</h3>
<p>Deep-fried with garlic aioli dip.</p>
<p>$9</p>

<!-- Order down right side -->
<h2>Drinks</h2>
<h3>Diet Coke</h3>
<p>Refreshing, 0 sugar, ice included.</p>
<p>$1</p>

<h3>Coffee</h3>
<p>Served hot and made fresh daily.</p>
<p>$2</p>

<h3>Orange Juice</h3>
<p>Freshly squeezed and delicious.</p>
<p>$3</p>

</body>
</html>