<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<h1>MENU</h1>

<h2>Entrees</h2>
<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

<h2>sides</h2>
<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

<h2>drinks</h2>
<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

<h3>Chicken etc</h3>
<p></p>
<p></p>

</body>
</html>